<div class="loader" *ngIf="loader">
  <img src="../assets/images/loader.gif" alt="loader" loading="lazy">
</div>
<div class="wrapper">
  <h2>{{ formConfiguration?.title }}</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div *ngFor="let field of formConfiguration?.fields" id="wrappInputs"
      [ngClass]="{'checkboxWrapper': field.type === 'checkbox'}">
      <label>{{ field.label }}</label>

      <ng-container [ngSwitch]="field.type">
        <input *ngSwitchCase="'text'" type="text" formControlName="{{field.name}}" [placeholder]="field.placeholder" />
        <input *ngSwitchCase="'email'" type="email" formControlName="{{field.name}}"
          [placeholder]="field.placeholder" />
        <input *ngSwitchCase="'password'" type="password" formControlName="{{field.name}}"
          [placeholder]="field.placeholder" />

        <select *ngSwitchCase="'select'" formControlName="{{field.name}}" [name]="field.name">
          <option *ngFor="let option of field.options" [value]="option.value">{{ option.label }}</option>
        </select>

        <input *ngSwitchCase="'checkbox'" type="checkbox" formControlName="{{field.name}}" />
      </ng-container>
      <div *ngIf="form?.get(field.name)?.invalid && form?.get(field.name)?.touched" id="errors">
        <small *ngIf="form?.get(field.name)?.errors?.['required']">{{ field.label }} is required</small>
        <small *ngIf="form?.get(field.name)?.errors?.['minlength']">Minimum length is {{ field.validation.minLength
          }}</small>
        <small *ngIf="form?.get(field.name)?.errors?.['maxlength']">Maximum length is {{ field.validation.maxLength
          }}</small>
        <small *ngIf="form?.get(field.name)?.errors?.['pattern']">Invalid format</small>
      </div>
    </div>
    <div class="btnWrapper"><button type="submit" [disabled]="form?.invalid">Submit</button></div>
  </form>

</div>